  /* Style the navigation menu */
  .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  .header{
    background-color: #555; 
    padding-top: 50px;
}
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    width: 14.28%; /* Seven equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Style the current/active link */
  .navbar a.active {
    background-color: #4CAF50;
  }
  
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
}

  body{
      font-family: "Roboto", "sans-serif";
    }

  .container-fluid{
    margin-top: 30px;
  }
 
 h1, h2, h3, h4{
     font-family: "Sansita", Serif;
 }
    
 
 h1{
     text-align: center;
     padding-top: 10px;
 }

.signup-button{
float: right;
}



.item-height{
    height: 400px;
}